<meta charset="UTF-8">

<div ng-controller ="ProspectionsCtrl">
	<div class="col-md-8 col-sm-12 col-xs-12">
		<div class="panel panel-info spacer">

			<div class="panel-heading">Les prospections recentes</div>
			<input type="text" placeholder="Tapez un Mot clé">
			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nom	</th>
							<th>Prénom</th>
							<th>Société	</th>					
							<th>Commentaire	</th>
							<th>Prospecté par</th>
							<th>DATE</th>
							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="p in prospections">
							<td>{{ p.customer.lastname }}</td>
							<td>{{ p.customer.firstname }}</td>
							<td>{{ p.company.name }}</td>
							<td>{{ p.comment }}</td>
							<th>{{p.owner.username}}	</th>
							<td>{{ p.created  | date:"dd/MM/yyyy"}}</td>
							
						</tr>
					</tbody>
				</table>
			</div>


		</div>
	</div>


	<div class="col-md-4 col-sm-12 col-xs-12">
		<div class="panel panel-info spacer">
			<div class="panel-heading">Statistiques de prospections</div>
			<div class="panel-body">
				<div class="form-group"></div>

			</div>
			
			
			<div class="panel-heading">Affiner le filtre</div>
			<div class="panel-body">
				<div class="form-group"></div>
			</div>

		</div>
	</div>


</div>